
@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<button class="btn btn-primary" onclick="location.href='@Url.Action("AddRole", "Role" )'">Add New Role</button>
<table class="table">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Role" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>


